.item {
  width: 700px;
  color: #2f2020;
  font-size: 22px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border: 1px solid rgba(112, 128, 144, 0.143);
}

.delete {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(172, 0, 0);
}

.completed {
  text-decoration: line-through;
}
